html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: ltr;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

button,
input {
  outline: none;
}

.App {
  padding: 50px;
}
